{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/notes.css' %}">
{% endblock %}

{% block content %}
<div class="list-note">
    <h1>Your Notes</h1>
    {% for note in note_list %}
        <div class="note">
            <h4>{{note.title}}</h4>
            <label>{{note.created_on}}</label>
            <p>{{note.text|truncatechars:100}}</p>

            <button class=" btn btn-sm btn-outline-dark">View details</button>
        </div>
    {% endfor %}
</div>
{% endblock %}