{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block content %}
<div class="list-posts">
    <div class="head">
        <h1>Feed: Latest post</h1>
        <a class="btn btn-outline-dark" href="{% url 'create_post' %}">Create new Post</a>
    </div>

    {% for post in post_list %}
        <div class="post">
            <div class="user-info">
                {% if post.author_profile.avatar %}
                    <img src="{{post.author_profile.avatar.url}}">
                {% else %}
                    <img src="https://t3.ftcdn.net/jpg/06/33/54/78/360_F_633547842_AugYzexTpMJ9z1YcpTKUBoqBF0CUCk10.jpg">
                {% endif %}
                <div class="info">
                    <label>{{post.author.username}}</label>
                    <label>{{post.created_on}}</label>
                </div>

                <div class="controls">
                    <i class="fa-solid fa-bookmark"></i>
                    <i class="fa-solid fa-share"></i>
                </div>
            </div>

            <p>{{post.content}}</p>
            {% if post.image %}
                <img class="uploaded-img" src="{{post.image.url}}">
            {% endif %}

           <div class="video-container">
                {% if post.video %}
                {% video post.video %}
            {% endif %}
            </div>

            <div class="reactions">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{post.id}}">

                <button type="submit" name="react_type" value="like" class="like">
                    <span class="count">{{post.likes}}</span>
                    <i class="fa-solid fa-thumbs-up"></i>
                </button>

                <button type="submit" name="react_type" value="heart" class="love">
                    <span class="count">{{post.hearts}}</span>
                    <i class="fa-solid fa-heart"></i>
                </button>
            </form>    
            </div>
       </div>     
    {% endfor %}    

</div>
{% endblock %}