{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/updateProfile.css' %}">
{% endblock %}

{% block content %}

<div>
    <h2>Update your profile</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.instance.avatar %}
        <img src="{{form.instance.avatar.url}}" alt="avatar">
        {% endif %}

        {{ form.as_p }}

        <button class="btn btn-dark">Save changes</button>

    </form>

 </div>


{% endblock %}